<h2>回答</h2>

<div *ngIf="myResult() as m" class="result-banner" [class.result-correct]="m.correct" [class.result-incorrect]="!m.correct">
  <strong>{{ m.correct ? '正解！' : '不正解…' }}</strong>
  <span>あなたの回答: <img [src]="'assets/tiles/' + m.selectedTile + '.png'" [alt]="m.selectedTile" class="tile-image-inline"></span>
</div>

<div *ngIf="answer() as a">
  <p class="answer-tile-row">
    <strong>正解牌:</strong>
    <img
      [src]="'assets/tiles/' + a.answerTile + '.png'"
      [alt]="a.answerTile"
      class="tile-image-inline"
    >
  </p>
  <p class="stats-row">
    <strong>回答数:</strong> {{ a.answerCount }}回
    <strong>正解率:</strong> {{ a.correctRate * 100 | number:'1.0-1' }}%
  </p>
  <p><strong>解説:</strong></p>
  <p class="explanation-text">
    <ng-container *ngFor="let part of explanationParts(a.explanation)">
      <img
        *ngIf="part.type === 'tile'"
        [src]="'assets/tiles/' + part.value + '.png'"
        [alt]="part.value"
        class="tile-image-inline"
      >
      <ng-container *ngIf="part.type === 'text'">{{ part.value }}</ng-container>
    </ng-container>
  </p>

  <p>
    <a [routerLink]="['/problems', problemId()]">問題詳細へ戻る</a>
  </p>

  <p>
    <a [routerLink]="['/problems']">一覧へ戻る</a>
  </p>
</div>