<div *ngIf="problem() as p">
  <p><strong>ID:</strong> {{ p.id }}</p>
  <p><strong>問題文:</strong> {{ p.questionText }}</p>
  <p><strong>作成日時:</strong> {{ p.createdAt }}</p>

  <p *ngIf="p.sourceName">
    <strong>引用元:</strong> {{ p.sourceName }}<ng-container *ngIf="p.sourceAuthor">（{{ p.sourceAuthor }}）</ng-container><ng-container *ngIf="p.sourceNumber"> 第{{ p.sourceNumber }}問</ng-container>
  </p>

  <p *ngIf="p.doraTile"><strong>ドラ</strong></p>

<div *ngIf="p.doraTile" class="tile-row">
  <img
    [src]="'assets/tiles/' + p.doraTile + '.png'"
    [alt]="p.doraTile"
    class="tile-image"
  >
</div>

  <p><strong>手牌</strong></p>
  <p class="tile-hint">牌にカーソルを合わせてクリックすると、その牌を切って回答します。</p>

<!-- 牌画像表示（ホバーで選択プレビュー、クリックで回答確定） -->
<div class="tile-row">
  <img
    *ngFor="let tile of p.tehai; let i = index"
    [src]="'assets/tiles/' + tile + '.png'"
    [alt]="tile"
    class="tile-image tile-selectable"
    [class.tile-hover]="hoveredIndex() === i"
    (mouseenter)="onTileEnter(i)"
    (mouseleave)="onTileLeave(i)"
    (click)="onTileClick(tile)"
  >
</div>



  <p>
    <a [routerLink]="['/problems', p.id, 'answer']">回答を見る</a>
  </p>

  <button type="button" (click)="deleteProblem()">
    削除
  </button>

  <p>
    <a [routerLink]="['/problems']">一覧へ戻る</a>
  </p>
</div>