<h2>問題登録</h2>

<div *ngIf="errorMessage()" style="color: red;">
  {{ errorMessage() }}
</div>

<div>
  <label>問題文</label><br>
  <input type="text" [(ngModel)]="questionText">
</div>

<br>

<div>
  <label>牌を選択</label>
  <div *ngFor="let group of tileGroups" class="tile-palette-row">
    <button
      type="button"
      *ngFor="let code of group.tiles"
      class="tile-btn"
      (click)="addTile(code)"
    >
      <img [src]="'assets/tiles/' + code + '.png'" [alt]="code" class="tile-image">
    </button>
  </div>
</div>

<br>

<div>
  <label>ドラ表示牌を選択</label>
  <div *ngFor="let group of tileGroups" class="tile-palette-row">
    <button
      type="button"
      *ngFor="let code of group.tiles"
      class="tile-btn"
      (click)="selectDora(code)"
    >
      <img
        [src]="'assets/tiles/' + code + '.png'"
        [alt]="code"
        class="tile-image"
        [class.tile-selected-dora]="doraTile === code"
      >
    </button>
  </div>
</div>

<br>

<div>
  <label>手牌（クリックで正解牌を指定）</label>
  <div class="tehai-row">
    <div *ngFor="let code of tehai; let i = index" class="tehai-chip">
      <img
        [src]="'assets/tiles/' + code + '.png'"
        [alt]="code"
        class="tile-image"
        [class.tile-selected-answer]="answerTile === code"
        (click)="selectAnswer(i)"
      >
      <button type="button" class="tehai-remove" (click)="removeTile(i)">×</button>
    </div>
  </div>
</div>

<br>

<div>
  <label>解説</label><br>
  <textarea [(ngModel)]="explanation"></textarea>
</div>

<br>

<button type="button" (click)="createProblem()">登録</button>

<p>
  <a [routerLink]="['/problems']">一覧へ戻る</a>
</p>
